@theme-blue: "blue";

.gridContainer {
    display: flex;
    width: 100%;
    position: fixed;
    overflow-x: auto;
    background: black;
    align-items: center;
    text-align: center;

    div {
        text-align: center;
        margin: auto;
    }
}

#canvas {
    cursor: pointer
}

test {
    color: #a0cf33
}

.addChannelPaper{
    width:50%;
    margin:auto;
    margin-top:200px;
    min-width:200px;
    padding:10px;
}

.formControl{
    width:120px;
   margin:10px;
   padding:10px;
}
