@theme-blue: "blue";

.gridContainer{
    width:100%;
    position:fixed;
    overflow:scroll;
}

::-webkit-scrollbar {
    width: 2px;  /* remove scrollbar space */
    background: white;  /* optional: just make scrollbar invisible */
}
// /* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: @theme-blue;
}
