.gridContainer {
  width: 100%;
  position: fixed;
  overflow: scroll;
}
::-webkit-scrollbar {
  /* remove scrollbar space */
  background: white;
  /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
  background: blue;
}
