$light-blue: rgb(71, 178, 228);

#root {
  background-color: white;
  height: 100vh-10;
}

.gridContainer {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  padding-top: 5px;
  overflow-y: hidden;
  background: black;
  align-items: center;

  div {
    text-align: center;
  }
}

#canvas {
  cursor: pointer
}

::-webkit-scrollbar {
  /* remove scrollbar space */
  padding: 5px;
  background: black;
  width: 5px;
  height: 10px;
  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: rgb(71, 178, 228);
  border-radius: 4px;
}

.btn-row-1 {
  max-width: 250px;
}


.ctrl-piano-config-bar {
  width: 250px;
  background-color: #ffffff;
  z-index: 1000;
  color: white;

  input {
    border-bottom-color: #efefef;
  }

  .config-bar-title {
    color: black;
    display: flex;
    padding: 0 32px 0 15px;
    align-items: center;
    border-bottom: 1px solid #efefef;

    p {
      text-align: center;
      width: 100%;
      margin-left: 5px;
    }
  }

  #select-container {
    display: block;
    position: relative;

  }

  .c-1 {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 3px;

    &.channels-list {
      border-top: solid 1px #efefef;
      margin: 0;
      padding: 8px;
      padding-top: 15px;
    }

    &.forms {
      margin-bottom: 20px;
    }
  }

  .c-2 {
    select {
      margin: 0 auto;
      color: #EC6F66;
      width: 210px;
      padding: 15px;
      height: 25px;
      cursor: pointer;
      background: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px no-repeat white;
    }

    select:hover {
      background-color: transparent;
      color: white;
      padding: 15px 5px 15px 25px;
    }

    select option {
      background-color: white;
      color: gray;
      width: 210px;
      padding: 10px 15px;
      height: 20px;
      cursor: pointer;
    }

    select option:hover {
      padding-left: 25px;
      width: 270px;
      color: #EC6F66;
    }
  }
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 27px;
}
